.register-icon-fix {
	padding: 10px!important;
	top: 6px!important;
}
.fixCenter {
	text-align: center;
}

.fixWechat {
	width: 70px;
	text-align: center;
	padding-top: 40px;
}
form img{
	width: 60%;
	display: block;
	margin: 0 auto;
}
.resgiter-item div div{
	padding-top: 6px!important;
	padding-bottom: 6px!important;
}
.resgiter-item .send-code-btn, .send-code-btn button div{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
