<!DOCTYPE html>
<html lang="" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-store,must-revalidate">
	<meta http-equiv="expires" content="0">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="192x192" href="http://www.fitahol.com/media/fitahol-icon.jpg">
	<link rel="apple-touch-icon" href="http://www.fitahol.com/media/fitahol-icon.jpg" />
	<link rel="icon" type="image/png" href="http://www.fitahol.com/media/fitahol-icon.jpg">
	<link href="/style/min.css" rel="stylesheet">
	<title>Fitahol</title>
</head>

<body>
	<div id="root" class="root-wrap">
		<div class="loader"></div>
	</div>
</body>
</html>
