.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 1.8rem;
	text-align: center;
	z-index: 999;
	background: #f6f6f6;
}
.footer div{
	background: #f6f6f6!important;
}
.footer .unread-mark{
	top: 2rem;
	left: 88%;
	background: #f7604f;
}
