.rightAlign{
  position: absolute;
  right: 20px;
}

.emptyMsg {
  text-align: center;
}
.message-item{
	background: #fff!important;
	margin: 0 .3rem 1px!important;
}
.message-item div div{
	padding-bottom: 0!important;
}
