.account-page{
	background: #edf0f5;
}
.listPad{
	padding-left: 20px;
}
.my-avatar{
	border-top: 10px solid #edf0f5;
	border-bottom: 10px solid #edf0f5;
	background: #fff;
}
.my-avatar img{
	width: 60px!important;
	height: 60px!important;
	border-radius: 10px!important;
	margin-top: 1rem;
}
.my-avatar-list{
	padding: 0!important;
	background-color: #fff!important;
}

.my-avatar-list span{
	color: #ff4081!important;
}
.my-avatar-list svg+div{
	background: #fff!important;
}
.my-avatar-list{
	position: relative;
}
.hrReset {
	background-color: #d2d5d9!important;
}
