.login-icon-fix {
	margin: 38px 25px !important;
	width: 70px;
	top: 2px !important;
}
.toRegister{
	padding-top: 1rem!important;
}
.fixCenter {
	text-align: center;
}

.fixWechat {
	width: 70px;
	text-align: center;
	padding-top: 40px;
}

.iForget {
	text-align: right!important;
	color: #f7604f!important;
}
.formsy-item div div{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.login-btn span{
	color: #fff!important;
}
.login-btn{
	transform: translateY(8px);
}
